/* =============selector product========== */
#app-header-content .fa-solid {
    background-position: -392px -189px;
    width: 8px;
    height: 14px;
}

#app-home-content .selector {
    background-color: transparent;

}

#app-home-content .content-product .silder a .item1 {
    padding: 0px 16px;
    color: rgb(56, 56, 61);
}

/* ===============banner top=============== */
.banner-top .container-section-wrap {
    display: flex;
    align-items: center;
    padding-top: 15px;

}

.container-section-wrap .section-banner-top-left {
    flex: 0 0 824px;
    max-width: 824px;
    height: 274px;
    overflow: hidden;
}
.banner-top-slider .slick-dots{
    bottom: 1px;

}

.banner-image {
    width: 100%;
    height: 100%;
}

/* ===========homedeal-reward========= */
/* homdeeal-left */

.homedeal-reward .homedeal-rewrad-warp .header-left {
    align-items: center;
}

.homedeal-header {
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 8px;
}

.homedeal-reward .header-left .clock {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0px 4px;
    padding: 0px 3px;
    background-color: rgb(255, 66, 78);
    border-radius: 4px;
    color: white;
}

.homedeal-body .slider-warp .slick-track {
    display: flex;
}

.homedeal-body .slider-warp .deal-item {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding: 12px;
}


.homedeal-body .slick-slider .deals__price {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(56, 56, 61);
    margin: 8px 0px 12px;
    white-space: nowrap;

}

.homedeal-body .slick-slider .has-discount {
    color: rgb(255, 66, 78);
}

.homedeal-body .slick-slider .deals__price__discount {
    padding: 0px 2px;
    line-height: 14px;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
    border: 1px solid rgb(255, 66, 78);
    border-radius: 2px;
    background-color: rgb(255, 240, 241);
    color: rgb(255, 66, 78);
}

.homedeal-body .slick-slider .deals__qty {
    border: 1px solid rgb(255, 66, 78);
    background-color: rgb(255, 66, 78);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    display: flex;
    width: 100%;
    height: 20px;
}

.homedeal-body .slick-slider .deals__qty .deals__progress {
    font-size: 11px;
    line-height: 16px;
    padding: 0px 0px 0px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}

.homedeal-body .slick-slider .slick-active {
    width: 148px;
    height: 212px;
}

.homedeal-body .style-deal .webpimg-container .deal-image {
    width: 100%;
}
/* homedeal-right */
/* ========================== */
/* home-brand */
.home_brand .home_brand-wrap{
    align-items: center;
    justify-content: space-between;
    height: 160px;

}
.home_brand .home_brand-wrap .center-brand img{
    border-radius: 4px;
    height: 160px;
    width: 800px;
    object-fit: cover;
}
.home_brand .home_brand-wrap .side-brand img{
    border-radius: 4px;
    height: 160px;
    width: 204px;
    object-fit: cover;
}
/* end home-brand */
/* ======================= */
/* home-quicklink */
.home_quicklinks_tab_container .home_quicklinks_warp{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 16px 0px;
    padding: 16px 0px;
    background: white;
    text-align: center;
    border-radius: 4px;
}
.home_quicklinks_tab_container .home_quicklinks_warp .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 103px;
    flex-shrink: 0;
}
.home_quicklinks_tab_container .home_quicklinks_warp .item img{
    width: 50px;
}
.home_quicklinks_tab_container .home_quicklinks_warp .item > span{
    margin-top: 12px;
    font-size: 13px;
    line-height: 1.54;
    color: rgb(36, 36, 36);
    width: 81px;
}
/* end-home-quicklink */
/* ================================ */
/* <!-- home_banner_primary_container --> */
.home_banner_primary_container .home_banner_primary_container-wrap{
    justify-content: space-between;
    height: 150px;
}
.home_banner_primary_container .home_banner_primary_container-wrap > a img{
    border-radius: 20px;
}
.brand-static-widget .brand-static-widget-wrap{
    background-color: rgb(255, 255, 255);
    margin: 16px 0px 0px;
    padding-bottom: 13px;
}
.brand-static-widget .brand-static-widget-wrap .header{
    display: flex;
    height: 60px;
    padding: 16px;
    align-items: center;
    line-height: 28px;
    color: rgb(36, 36, 36);
}
.brand-static-widget .brand-static-widget-wrap .header .main-title{
    display: flex;
    font-size: 20px;
}
.brand-static-widget .brand-static-widget-wrap .header .main-title .main-title__icon{
    width: 24px;
    height: 24px;
    margin: auto 0px;
}
.brand-static-widget .brand-static-widget-wrap .header .main-title .main-title__text{
    margin: auto 0px auto 8px;
    text-transform: capitalize;
}
.brand-static-widget .brand-static-widget-wrap .header .see-more-link{
    margin: auto 0px auto auto;
    line-height: 24px;
    font-size: 15px;
}
/* <!--end home_banner_primary_container --> */
/* ==================================== */
/* <!-- brand-static-widget --> */
.main_banner .main_banner-wrap .slick-slider .slick-slide img{
    width: 100%;
}